.archive-container
{	
	left:20px;
    vertical-align:top;
    width:270px;
    background-color: #EBECED;
	border-radius: 5px 5px 5px 5px;  
/* 	border:1px solid #FF6600;	 */
}
.archive-header-container
{
    vertical-align:middle;
    width:260px;
    height:20px;
    background-color: #36454F;
	border-radius: 5px 5px 0px 0px;
	padding-left: 10px;
	padding-top: 5px;  	
}
.archive-header-title
{
	font-size:12px;
	font-weight:bold;
	color:#FFFFFF;
}
.archive-list-title
{
	font-size:11px;
	font-weight:bold;
	color:#4b647d;
}
.archive-list-item-link,.archive-list-item-selected
{
	font-size:10px;
	color:#36454F;
	font-weight:bold;
	text-decoration:none
}
.archive-list-item-selected
{
	color:#AFB5B9;
}
.archive-list-title,.__link{text-decoration:none;}