.paginator-container
{
	margin:0px;
	padding:0px;
	text-align: left;
}
.paginator-nav-ul
{
	margin:0px;
/* 	margin-left:auto; */
	padding: 0px;	
	list-style: none; 	
    font-size:11px; 
	color: #384044;  
/* 	color:#FFFFFF; */
}
.paginator-nav-ul li 
{	
    display: inline;    
    list-style: none;
	color: #FFFFFF;   
}
.paginator-nav-ul li span,.paginator-nav-ul li#selected,.paginator-nav-ul li#disabled_next,.paginator-nav-ul li#disabled_prev
{
	width:65px;
	background-color:#36454F;
 	padding-top:2px; 
 	padding-left:2px; 
 	padding-right:2px;
 	padding-bottom:2px; 
}
.paginator-nav-ul li span:hover
{
	background-color: #727D84;
}

.paginator-nav-ul li a 
{
    text-decoration: none;
	color:#FFFFFF;
}
.paginator-nav-ul li#disabled_next,.paginator-nav-ul li#disabled_prev,.paginator-nav-ul li#selected
{
	color:#FFFFFF;
	background-color: #C3C7CA;		
}

