.login-container
{	
	left:20px;
	position:relative;	
    vertical-align:top;
    width:350px;
    background-color: #e6faff;
	border-radius: 0px 0px 5px 5px;  
	border:1px solid #5E6A72;
/* 	border:1px solid #00CCFF;	 */
	padding:19px
}
.login-header-container
{
	left:20px;
	position:relative;		
    vertical-align:middle;
    text-align:left;
    width:350px;
    height:20px;
    background-color:#5E6A72;
/*     background-color: #00CCFF; */
	border-radius: 5px 5px 0px 0px;
	padding-left:20px;
	padding-right:20px;
	padding-top: 5px;
	
	font-size:16px;
	font-weight:bold;
	color:#FFFFFF;
}
.login-list-title
{
	font-size:11px;
	font-weight:bold;
	color:#4b647d;
}
.login-input-field
{
	width:350px;
	border:1px solid #5E6A72;
}
.login-input-label
{
	color:#5E6A72;
	font-size:12px;
	text-align: left;
}
.login-table-td
{
	height:40px;
	vertical-align: top;
}
.login-box-title
{
	font-size:16px;
	font-weight:bolder;
	color:#00CCFF;	
	height:50px;
	vertical-align: top;	
}
.login-submit-button
{
	color:#FFFFFF;
	background:#727D84;
	border-radius: 3px 3px 3px 3px;
	border:1px solid #5E6A72;	
	padding:5px;
	padding-left:10px;
	padding-right:10px;
}
.login-submit-button:hover
{
	background:#AFB5B9;
}
.login-site-logo-icon-32
{
	border:0px;
	width:32px;
	height:32px;
	vertical-align:middle;
}
.login-site-logo-icon-64
{
	border:0px;
	width:64px;
	height:64px;
	vertical-align:middle;
}